<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>This the is static html page.</title>

    </head>

    <body>
        <div id="container" class="align=centre;">        
            We will be right back..
        </div>
      

    </body>

</html>